/problema1/JavaApplication82/nbproject/private/
/problema1/JavaApplication83/nbproject/private/
/problema1/Terreno/nbproject/private/
/problema1/Terreno/build/
/problema2/Segundos,Minuitos,Horas,Dias/nbproject/private/
/problema2/Horas/nbproject/private/
/problema2/Horas/build/
/problema2/EquivalenteHora/nbproject/private/
/problema2/EquivalenteHora/build/
/problema3/Institucion/nbproject/private/
/problema3/Institucion/build/
/problema4/EquipoMovil/nbproject/private/
/problema4/EquipoMovil/build/
